.material-form {
    .material-form__controls {
        position: absolute;
        top: 20px;
        right: 20px;

        button {
            display: inline-block;
            text-transform: uppercase;
            color: $primary-color;
            background-color: transparent;
            margin-right: 10px;
            cursor: pointer;
            padding: 10px;
            outline: none;
        }
    }

    .material-form__group {
        position: relative;
        height: 45px;
        margin-top: 10px;

        input {
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 1px solid #E9EAEC;
            height: inherit;
            width: 100%;
            outline: none;
            transition: all 0.4s ease-in;
            padding-bottom: -10px;
        }

        input:focus {
            border-bottom: 2px solid $primary-color;
        }

        input:focus + label, input:valid + label {
            top: 0;
            left: 0;
            font-size: 11px;
            color: $primary-color;
        }

        label {
            position: absolute;
            top: 12.5px;
            left: 10px;
            transition: all 0.2s ease-in;
            color: $secondary-color;
        }
    }
}

.about {
    position: relative;

    .about__edit {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 5px;
        color: $secondary-color;
        background-color: #ECF1F5;
        outline: none;
    }

    .about__title {
        font-size: 18px;
        font-weight: 800;
        margin: 15px auto;
    }

    .about__list {
        @include text-with-icon;

        list-style: none;

        li {
            margin: 5px 0 0 10px;
        }
    }
}

.about-desktop {
    display: none;
}

@media only screen and (min-width: 768px) {
    .about {
        display: none;
    }

    .about-desktop {
        display: block;

        ul {
            display: inline-block !important;
            margin-top: 30px;

            li {
                list-style: none;
                height: 35px;
                position: relative;
                display:inline-block;

                span {
                    background-color: #F4F8FB;
                    padding: 7px;
                }

                .icon {
                    height: 27px;
                    padding: 2.5px 5px;
                    background-color: #EDF0F6;
                    overflow:hidden;
                    position: relative;
                    bottom: -9px;
                    right: 0;
                }

                .reset-icon {
                    background-color: transparent;
                    color: $secondary-color;
                    position: relative;
                    top: 5px;
                    right: 5px;
                    height: auto !important;
                }

                .edit-modal {
                    position: absolute;
                    left: calc(100% - 20px);
                    z-index: 999;
                    top: -18px;
                }

            }

            li:first-child span {
                font-weight: 700;
            }
        }

        .edit-modal {
            width: 250px;
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
            padding: 15px;
            background-color: white;
        }

        .edit-modal__arrow {
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid white;
            position: absolute;
            top: 20px;
            left: -10px;
           
            -moz-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, .5));
            -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
            -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
            -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
            filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));

        }

        .edit-modal__form {
            label {
                color: $secondary-color;
                text-transform: uppercase;
                display: block;
            }

            input {
                margin-bottom: 10px;
                border-bottom: 1px solid $secondary-color;
                height: 25px;
                outline: none;
                width: 100%;
            }
        }

        .edit-modal__btn-group {
            margin-top: 20px;
            display: inline-block;
            text-align: center;
            text-transform: uppercase;

            button {
                padding: 4px 25px;
                border-radius: 2px;
                border: 1px solid $primary-color;
            }
        }

        .edit-modal__btn-group__save {
            background-color: $primary-color;
            color: white;
            margin-right: 20px;
        }

        .edit-modal__btn-group__cancel {
            color: $primary-color;
            background-color: transparent;
        }
    }
}
