header {
    overflow: hidden;
    height: 41px;
    margin-bottom: 20px;
    display: block;
    nav {
        background-color: white;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
        white-space: nowrap;
        width: 100%;
        padding-left: 20px;
        overflow-x: scroll;
        overflow-y: hidden;

        ul {
            li {
                display: inline-table;
                height: 40px;
                margin-right: 20px;
                cursor: pointer;

                span {
                    display: table-cell;
                    vertical-align: middle;
                    text-transform: uppercase;
                }
            }

            .active {
                border-bottom: 2px solid $primary-color;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    header {
        overflow: visible;
        height: auto !important;
        margin-top: -40px !important;
        nav {
            border-top: 1px solid $secondary-color;
            overflow-x: hidden;
            display: inline-block;
            white-space: normal!important;
            margin-top: -21px;
            ul {
                padding-left: 220px;
            }
        }
    }
}
