.profile {
    padding: 20px;
}

.profile__logout {
    outline: none;
    background: transparent;
    border: none;
    color: $primary-color;
    font-weight: 700;
    text-transform: uppercase;
    float: right;
    padding: 5px 10px;
}

.profile__upload {
    display: none;
    border: 1px solid $secondary-color;
    background-color: transparent;
    padding: 5px 20px;
    color: $secondary-color;
    margin: 0 auto;
    position: relative;

    .icon {
        position: relative;
        top: 2px;
        right: 5px;
    }

    input {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}

.profile__image {
    @include center;

    margin-top: 40px;
    width: 140px;
    height: 130px;
    text-indent: -100px;
    overflow: hidden;

    img {
        object-fit: cover;
    }
}

.profile__title {
    @include center;

    margin-top: 10px;
    font-weight: 700px;
    font-size: 24px;
}

.profile__contact {
    @include text-with-icon;

    margin-bottom: 5px;
}

.profile__address {
    @include text-with-icon;

    margin-bottom: 5px;
}

.profile__ratings {
    @include text-with-icon;

    margin-bottom: 5px;

    ion-icon {
        font-size: 16px;
    }

    color: $primary-color;
}

.profile__reviews {
    @include text-with-icon;

    margin-bottom: 15px;
}

.profile__followers {
    @include text-with-icon;

    ion-icon {
        font-size: 22px;
    }
}

@media only screen and (min-width: 768px) {
    .profile {
        background-color: white;
        position: relative;
    }

    .profile__logout {
        border: 1px solid $primary-color;
    }

    .profile__upload {
        display: block;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .profile__image {
        float: left;
        width: 170px;
        height: 160px;
        text-indent: -100px;
        margin: -50px 20px 0px 0px;
    }

    .profile__title {
        display: inline;
    }

    .profile__contact {
        position: relative;
        top: 18px;
        left: 0px;
    }

    .profile__address {
        position: relative;
        top: -18px;
        left: 0px;
    }

    .profile__ratings {
        position: absolute;
        top: 120px;
        right: 120px;
        color: $secondary-color;
    }

    .profile__reviews {
        position: absolute;
        top: 124px;
        right: 20px;
    }

    .profile__followers {
        position: absolute;
        bottom: -32px;
        right: 20px;
    }
}
