
$primary-color: #017FE4;
$secondary-color: #828689;
$body-background-color: #F4F8F9;


// Extensions
@mixin center {
    margin: 0 auto;
    text-align: center;
    display: block;
}

@mixin text-with-icon {
    color: $secondary-color;

    .icon {
        margin-right: 4px;
        position: relative;
        top: 5px;
        right: 5px;
    }
}