
@import "utils/constants";
@import "components/about";
@import "components/navigation";
@import "components/profile-bar";

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: $body-background-color;
    overflow-x: hidden;
    font-size: 12px;
}

// Tabs

.tab {
    border: 1px solid #D2DEE9;
    width: 100%;
    padding: 20px;
    min-height: 200px;
    background-color: white;
    position: relative;

    .tab__title {
        font-size: 18px;
        color: $secondary-color;
    }
}

@media only screen and (min-width: 768px) {
    body {
        padding:20px 40px;
    }
    .tab {
         min-height: 400px;
    }

}